address=/myfulcrum/172.16.222.111

address=/fulcrumhost/$FULCRUM_HOST_IP

address=/behat/$FULCRUM_HOST_IP
address=/cron/$FULCRUM_HOST_IP
address=/elasticsearch/$FULCRUM_HOST_IP
address=/haproxy/$FULCRUM_HOST_IP
address=/mariadb/$FULCRUM_HOST_IP
address=/memcached/$FULCRUM_HOST_IP
address=/nginx/$FULCRUM_HOST_IP
address=/php56fpm/$FULCRUM_HOST_IP
address=/php7.2/$FULCRUM_HOST_IP
address=/php7.3/$FULCRUM_HOST_IP
address=/php7.4/$FULCRUM_HOST_IP
address=/redis/$FULCRUM_HOST_IP
address=/solr/$FULCRUM_HOST_IP
address=/varnish/$FULCRUM_HOST_IP

address=/.v56.php.ifops/$FULCRUM_HOST_IP
address=/.v72.php.ifops/$FULCRUM_HOST_IP
address=/.v73.php.ifops/$FULCRUM_HOST_IP
address=/.v74.php.ifops/$FULCRUM_HOST_IP
